{% extends "base.html" %}

{% block title %}{{ order.title }}{% endblock %}

{% block content %}
<div class="order-detail">
    <h1>{{ order.title }}</h1>
    <p>{{ order.description }}</p>
    <p>Создан: {{ order.created_at }}</p>
    <p>{% if order.is_active %} Активен {% else %} Завершен: {{ order.updated_at }} {% endif %} </p>
    {% if user.is_authenticated %}
    <p><a href="{% url 'order_edit' order.slug %}">Редактировать</a></p>
    {% endif %}
</div>

<div>
    {% with responses.count as responses_count %}
    <h2>
    {{ responses_count }} {% if responses_count == 1 %}отклик{% else %}отклика{% endif %}
    </h2>
    {% endwith %}

    {% for response in responses %}
    <div>
        <p>Исполнитель: {{ response.contractor }} с опытом: {{ response.contractor.exprience }} лет. <br>
        Сообщение: {{ response.message }}<br>
        Телефон: {{ response.contractor.phone_number }}
        </p>
    </div>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% empty %}
    <p>Нет откликов</p>
    {% endfor %}
</div>
    {% if request.user.is_authenticated %}
        {% if is_contractor %}
            {% if not user_responsed %}
                {% include 'main/includes/response_form.html' %}
            {% else %}
                <p>Вы уже откликнулись на этот заказ</p>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}